<launch>
    <arg name="map_file" default="/home/triffid/catkin_ws/src/navigation/map.yaml"/>
    <include file="$(find navigation)/launch/run_triffid.launch"></include>
    <include file="$(find navigation)/launch/triffid_motor_controller.launch"></include>
    <include file="$(find navigation)/launch/amcl.launch"></include>
    <include file="$(find navigation)/launch/move_base.launch"></include>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find navigation)/rviz/turtlebot3_navigation.rviz" />
</launch>